<!DOCTYPE html>
<html>
    <head>
        <title>J2H2</title>
    </head>
    <body>
        <center>
            <table border="1" width="500px">
                <tr>
                    <td colspan="2" align="center">Welcome to Healthy Restaurant</td>
                </tr>
                <tr>
                    <td width="120px">Seafood Hor-Fun</td>
                    <td align="center">
                        <img src="seafood hor-fun.jpg" width="100px" height="100px">
                        <br>
                        $8.50>
                    </td>
                    
                </tr>
                <tr>
                    <td width="120px">mushroom pizza</td>
                    <td align="center">
                        <img src="mushroom pizza.jpg" width="100px" height="100px">
                        <br>
                        $6.80
                    </td>
                </tr>
                <tr>
                    <tr>
                        <td width="120px">wonton noodle</td>
                        <td align="center">
                            <img src="wonton-noodle.jpg" width="100px" height="100px">
                            <br>
                            $5.50
                        </td>
                    </tr>
                </tr>

            </table>
        </center>
    </body>
</html>